@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap";

._10um4 {
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    box-shadow: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0
}

._10um4:not([data-focus-visible-added]) {
    outline: none
}

.krBQN {
    display: inline-flex;
    padding: 1px 5px;
    border-radius: 3px;
    align-items: center
}

._1B-y0 {
    margin-left: 5px
}

._2DVTv {
    color: #f36f21;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0)
}

._2DVTv ._1tPJM {
    fill: #f36f21
}

._2DVTv:hover {
    color: #db0004;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0)
}

._2DVTv:hover ._1tPJM {
    fill: #db0004
}

._2DVTv:active {
    color: #f36f21;
    border-color: rgba(0, 0, 0, 0);
    outline: none;
    background: rgba(0, 0, 0, 0)
}

._2DVTv:active ._1tPJM {
    fill: #f36f21
}

.wolfram-small-svg {
    width: 20px;
    height: 20px
}

div,
span,
a,
img,
ul,
li,
form,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font: 100% inherit;
    vertical-align: baseline;
    box-sizing: border-box
}

div:not([data-focus-visible-added]),
span:not([data-focus-visible-added]),
a:not([data-focus-visible-added]),
img:not([data-focus-visible-added]),
ul:not([data-focus-visible-added]),
li:not([data-focus-visible-added]),
form:not([data-focus-visible-added]),
section:not([data-focus-visible-added]) {
    outline: none
}

ul {
    list-style: none
}

input {
    -webkit-appearance: none
}

._2dgCA {
    border: none;
    justify-content: center
}

._3XkhH {
    height: 56px;
    width: 486px;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 45px 0 25px
}

.wolfram-input-section {
    width: 100%;
    text-align: left
}

.gqU8h {
    width: 100%;
    height: 38px;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 7px
}

.wolfram-input-container-container {
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    height: 38px;
    margin-right: 6px;
    overflow: hidden
}

.wolfram-input-container {
    width: 100%;
    position: relative;
    vertical-align: middle;
    overflow-x: auto;
    overflow-y: hidden;
    align-self: baseline;
    padding-bottom: 30px;
    white-space: nowrap;
    color: #333;
    text-align: left;
    z-index: 1;
    font: 16px/1.38 WebRoboto, "Hiragino Kaku Gothic ProN", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN", Meiryo, メイリオ, Arial, Helvetica, sans-serif
}

.wolfram-input-output {
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    min-width: 100%;
    padding: 8px 5px;
    pointer-events: none;
    z-index: -1;
    font: 16px/1.38 WebRoboto, "Hiragino Kaku Gothic ProN", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN", Meiryo, メイリオ, Arial, Helvetica, sans-serif
}

.wolfram-input-class {
    background: transparent;
    box-sizing: border-box;
    border: 0;
    height: 38px;
    min-width: 100%;
    padding: 8px 5px;
    text-align: left;
    outline: none;
    color: transparent;
    caret-color: #333;
    font: 16px/1.38 WebRoboto, "Hiragino Kaku Gothic ProN", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN", Meiryo, メイリオ, Arial, Helvetica, sans-serif
}

.wolfram-input-class:hover {
    cursor: text
}

.wolfram-input-class::-webkit-input-placeholder {
    color: transparent
}

.wolfram-input-class::-moz-placeholder {
    color: transparent
}

.wolfram-input-class:-ms-input-placeholder {
    color: transparent
}

.wolfram-input-class::-ms-input-placeholder {
    color: transparent
}

.wolfram-input-class::placeholder {
    color: transparent
}

.autocompletion-container {
    display: none;
}

.autocompletion-container-shown {
    display: block;
}

.HuMWM {
    flex: 0 0 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: none
}

._3fnRK {
    color: #ec561a;
    background-color: inherit;
    border-color: rgba(0, 0, 0, 0)
}

._3fnRK .jzBOk {
    fill: #ec561a
}

._3fnRK:hover {
    color: #cb1000;
    background-color: inherit;
    border-color: rgba(0, 0, 0, 0)
}

._3fnRK:hover .jzBOk {
    fill: #cb1000
}

._3fnRK:active {
    color: #fff;
    border-color: #c7c7c7;
    outline: none;
    background: #c7c7c7
}

.keyboard-button-active {
    color: #fff !important;
    border-color: #c7c7c7 !important;
    outline: none !important;
    background: #c7c7c7 !important;
}

._3fnRK:active .jzBOk {
    fill: #fff
}

._3gsYZ {
    color: #ec561a;
    background-color: inherit;
    border-color: rgba(0, 0, 0, 0)
}

._3gsYZ .jzBOk {
    fill: #ec561a
}

._3gsYZ:hover {
    color: #cb1000;
    background-color: inherit;
    border-color: rgba(0, 0, 0, 0)
}

._3gsYZ:hover .jzBOk {
    fill: #cb1000
}

._3gsYZ:active {
    color: #cb1000;
    border-color: rgba(0, 0, 0, 0);
    outline: none;
    background: inherit
}

._3gsYZ:active .jzBOk {
    fill: #cb1000
}

._373wu {
    display: inline-flex;
    align-items: center;
    border-radius: 3px;
    padding: 3px 12px;
    font: 15px "Source Sans Pro", Arial, Helvetica, sans-serif
}

.b9R6n {
    display: flex;
    max-width: 780px;
    width: 100%;
    margin-top: 9px
}

._1Qrw- {
    margin-left: 4px
}

._1Qrw-:first-child {
    margin-left: 0
}

._2Qj7y {
    display: flex;
    margin-right: 18px
}

.mPLZE {
    display: flex;
    margin-left: auto
}

._1NMGv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0 20px
}

._1YsE2 {
    width: 100%;
    max-width: 780px;
    position: relative
}

._3-WTd {
    border: 1px solid #ff9339;
    border-radius: 4px;
    box-shadow: 0 0 0 3px #ffc230
}

._10um4 {
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    box-shadow: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0
}

._10um4:not([data-focus-visible-added]) {
    outline: none
}

.krBQN {
    display: inline-flex;
    padding: 1px 5px;
    border-radius: 3px;
    align-items: center
}

div,
span,
a {
    margin: 0;
    padding: 0;
    border: 0;
    font: 100% inherit;
    vertical-align: baseline;
    box-sizing: border-box
}

div:not([data-focus-visible-added]),
span:not([data-focus-visible-added]),
a:not([data-focus-visible-added]) {
    outline: none
}

._2LSg_ {
    display: flex
}

._3BX2Z,
._5VPfe {
    border: none;
    font-size: 12px;
    padding: 10px;
    display: flex;
    align-items: flex-end
}

._3BX2Z {
    color: #777;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0)
}

._3BX2Z ._2MoRn {
    fill: #777
}

._3BX2Z:hover {
    color: #ec561a;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0)
}

._3BX2Z:hover ._2MoRn {
    fill: #ec561a
}

._3BX2Z:active {
    color: #cb1000;
    border-color: rgba(0, 0, 0, 0);
    outline: none;
    background: rgba(0, 0, 0, 0)
}

._3BX2Z:active ._2MoRn {
    fill: #cb1000
}

._1zLOS {
    width: 16px;
    margin-right: 5px
}

._5YPtM {
    background: #f5f5f5
}

._3l3lx,
._2-WIS {
    font: 12px/20px WebRoboto, "Hiragino Kaku Gothic ProN", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN", Meiryo, メイリオ, Arial, Helvetica, sans-serif
}

._3l3lx {
    color: #777
}

._2-WIS {
    display: flex;
    justify-content: space-between
}

._5VPfe {
    color: #777;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center
}

._5VPfe:hover {
    color: #777;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0)
}

._5VPfe:active {
    color: #777;
    border-color: rgba(0, 0, 0, 0);
    outline: none;
    background: rgba(0, 0, 0, 0)
}

._5VPfe:hover ._25kcj {
    color: #ec561a
}

._5VPfe:active ._25kcj {
    color: #cb1000
}

._25kcj {
    font-weight: 700;
    border: none
}

h2,
header {
    margin: 0;
    padding: 0;
    border: 0;
    font: 100% inherit;
    vertical-align: baseline;
    box-sizing: border-box
}

h2:not([data-focus-visible-added]),
header:not([data-focus-visible-added]) {
    outline: none
}

header {
    display: block
}

._124pH {
    min-height: 30px;
    background: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 19px;
    font: 13px WebRoboto, "Hiragino Kaku Gothic ProN", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN", Meiryo, メイリオ, Arial, Helvetica, sans-serif
}

._124pH:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit
}

.pxQx2 {
    color: #678e9c;
    margin-right: 19px
}

._1oLFT {
    position: relative;
    display: inline-block
}

._10um4 {
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    box-shadow: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0
}

._10um4:not([data-focus-visible-added]) {
    outline: none
}

.krBQN {
    display: inline-flex;
    padding: 1px 5px;
    border-radius: 3px;
    align-items: center
}

.wolfram-small-svg {
    width: 20px;
    height: 20px
}

div,
h1,
ul,
li,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font: 100% inherit;
    vertical-align: baseline;
    box-sizing: border-box
}

div:not([data-focus-visible-added]),
h1:not([data-focus-visible-added]),
ul:not([data-focus-visible-added]),
li:not([data-focus-visible-added]),
section:not([data-focus-visible-added]) {
    outline: none
}

ul {
    list-style: none
}

._3F1W_ {
    width: 100%;
    padding: 10px 0px;
}

._2cA4H {
    display: block;
    text-align: left;
    width: 100%;
    max-width: 780px;
    margin: 0 auto
}

._2hVzI {
    display: grid;
    grid-template-columns: repeat(14, 1fr)
}

._3t0Vs {
    display: block;
    height: 48px;
    width: auto;
    color: #7db4c9;
    font: 300 16px/48px Lexia, "Roboto Slab", Georgia, "Times New Roman", Times, serif
}

._31Yc9 {
    font: 400 12px "Source Sans Pro", Arial, Helvetica, sans-serif
}

._31Yc9:focus {
    z-index: 1
}

._31Yc9 {
    margin: 0 0 -1px -1px
}

._3nGlG {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 1px solid;
    border-radius: 0
}

._3nGlG:hover,
._3nGlG:active {
    z-index: 1
}

._3nGlG {
    height: 50px;
    width: 100%
}

._2WP2O {
    color: rgba(0, 0, 0, 0);
    background-color: #fff;
    border-color: #ccc
}

._2WP2O ._3ijoZ {
    fill: #777
}

._2WP2O:hover {
    color: rgba(0, 0, 0, 0);
    background-color: #fff;
    border-color: #ec561a
}

._2WP2O:hover ._3ijoZ {
    fill: #777
}

._2WP2O:active {
    color: rgba(0, 0, 0, 0);
    border-color: #cb1000;
    outline: none;
    background: #ec561a
}

._2WP2O:active ._3ijoZ {
    fill: #fff
}

._2ZoPo {
    height: 38px;
    width: 38px
}

._1s1Al {
    width: 101vw;
    background: #f5f5f5;
    margin-top: -1px;
    margin-left: -1%;
    border-top: solid 6px #c7c7c7;
    border-bottom: solid 6px #c7c7c7
}

._13vNe {
    color: rgba(0, 0, 0, 0);
    background-color: #ebebeb;
    border-color: rgba(0, 0, 0, 0)
}

._13vNe ._3oIR7 {
    fill: #ec561a
}

._13vNe:hover {
    color: rgba(0, 0, 0, 0);
    background-color: #f7f7f7;
    border-color: rgba(0, 0, 0, 0)
}

._13vNe:hover ._3oIR7 {
    fill: #ec561a
}

._13vNe:active {
    color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    outline: none;
    background: #f9f9f9
}

._13vNe:active ._3oIR7 {
    fill: #cb1000
}

._3xlit {
    height: 41px;
    width: 100%;
    justify-content: center
}

._1oLFT {
    position: relative;
    display: inline-block
}

._10um4 {
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    box-shadow: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0
}

._10um4:not([data-focus-visible-added]) {
    outline: none
}

div,
h1,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font: 100% inherit;
    vertical-align: baseline;
    box-sizing: border-box
}

div:not([data-focus-visible-added]),
h1:not([data-focus-visible-added]),
ul:not([data-focus-visible-added]),
li:not([data-focus-visible-added]) {
    outline: none
}

ul {
    list-style: none
}

._2cA4H {
    display: block;
    text-align: left;
    width: 100%;
    max-width: 780px;
    margin: 0 auto
}

._7CC_P {
    display: grid;
    grid-template-columns: repeat(8, 1fr)
}

._3t0Vs {
    display: block;
    height: 48px;
    width: auto;
    color: #7db4c9;
    font: 300 16px/48px Lexia, "Roboto Slab", Georgia, "Times New Roman", Times, serif
}

._31Yc9 {
    font: 400 12px "Source Sans Pro", Arial, Helvetica, sans-serif
}

._31Yc9:focus {
    z-index: 1
}

._31Yc9 {
    margin: 0 0 -1px -1px
}

._3nGlG {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 1px solid;
    border-radius: 0
}

._3nGlG:hover,
._3nGlG:active {
    z-index: 1
}

._3nGlG {
    height: 50px;
    width: 100%
}

._2WP2O {
    color: rgba(0, 0, 0, 0);
    background-color: #fff;
    border-color: #ccc
}

._2WP2O ._3ijoZ {
    fill: #777
}

._2WP2O:hover {
    color: rgba(0, 0, 0, 0);
    background-color: #fff;
    border-color: #ec561a
}

._2WP2O:hover ._3ijoZ {
    fill: #777
}

._2WP2O:active {
    color: rgba(0, 0, 0, 0);
    border-color: #cb1000;
    outline: none;
    background: #ec561a
}

._2WP2O:active ._3ijoZ {
    fill: #fff
}

._2ZoPo {
    height: 38px;
    width: 38px
}

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif
}

body {
    background: white
}

#pod {
    background: #fff;
    border-radius: 8px;
    width: 780px;
    margin-top: 50px;
    /*
    margin-left: 8.5%
    */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

hr {
    color: #666;
    opacity: .2;
    text-shadow: 1px 1px 0 #fff;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #666;
    position: relative;
    transition: box-shadow 200ms ease-in-out;
    box-shadow: 0 0 0 0 #f9f9f9;
    font: 300 20px/2 'Open Sans', sans-serif
}


.hiddenExtendedKeyboard {
    display: none
}

/*
#normalHomeGrid {
    display: block
}

#responsiveHomeGrid {
    display: none
}

.normalHomeGrid {
    display: block
}

.responsiveHomeGrid {
    display: none
}

@media screen and (max-width: 1030px) {
    #normalHomeGrid {
        display: none
    }

    #responsiveHomeGrid {
        display: block
    }

    .normalHomeGrid {
        display: none
    }

    .responsiveHomeGrid {
        display: block
    }
}
*/

@media screen and (max-width: 585px) {
    .extraInputOption {
        display: none
    }
}

@media screen and (max-width: 500px) {
    .wolframLogo {
        transform: scale(0.75)
    }

    img {
        width: 100%;
        object-fit: contain
    }
}



.autocomplete-list-element:hover {
    background-color: #f5f5f5;
}

.autocomplete-list-element {

    cursor: pointer;
    color: inherit;
    border-color: #bbb;
    outline: none;
    border: 0;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    box-shadow: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
}

.autocomplete-anchor {
    outline: none;
    justify-content: space-between;
    padding: 0 10px 0 15px;
    margin: 0;
    font-family: WebRoboto, "Hiragino Kaku Gothic ProN", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN", Meiryo, メイリオ, Arial, Helvetica, sans-serif;
    height: 32px;
    display: flex;
    align-items: center;
    width: 100%;
}

.autocomplete-bold-span {
    font-weight: 700;
}

.autocompletion-box {
    font-family: WebRoboto, "Hiragino Kaku Gothic ProN", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN", Meiryo, メイリオ, Arial, Helvetica, sans-serif;
    margin-top: -2px;
    margin-left: -6px;
    width: calc(100% + 12px);
    padding: 0 6px 6px;
    position: absolute;
    z-index: 1001;
}

.autocomplete-orange-box {
    background-color: #fff;
    border-top: 1px solid #bbb;
    border-left: 1px solid #f96932;
    border-right: 1px solid #f96932;
    border-bottom: 1px solid #f96932;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.4);
}

.autocomplete-list {
    margin-top: 1px;
    width: 100%;
    list-style: none;
}

.pod-header {
    color: #678e9c;
    min-height: 30px;
    font-size: 13px;
    font-family: WebRoboto, "Hiragino Kaku Gothic ProN", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN", Meiryo, メイリオ, Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 19px;
}

.pod-border {
    margin: 15px 0px;
    border-color: #ffd583;
}

queryresult {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px -15px rgb(100, 100, 100);
}

subpod {
    margin: 7px 25px;
}

infos {
    margin: 15px;
    text-align: right;
}

info>img {
    opacity: .4;
    transform: scale(.9);
    cursor: pointer;
    transition: opacity 250ms ease;
}

info>img:hover {
    opacity: .65;
}

datasources,
microsources {
    display: none;
}

#equationFooter {
    margin-top: 50px;
}

.skeleton-box {
    display: inline-block;
    height: 1em;
    position: relative;
    overflow: hidden;
    background-color: #f7f7f7;
}

.skeleton-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    -webkit-animation: shimmer 2s infinite;
    animation: shimmer 2s infinite;
    content: "";
}

@-webkit-keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

.clickable-result {
    border-bottom: 0px solid #b6d4df;
    cursor: pointer;
}

.clickable-result:hover {
    border-bottom: 1px solid #b6d4df;
}

relatedqueries {
    background: #fff;
    border-radius: 8px;
    width: 780px;
    margin: 50px 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px -15px rgb(100, 100, 100);
}

relatedqueries::before {
    content: "Related Queries:";
    color: rgb(103, 142, 156);
    font-size: 13px;
    margin: 15px;
}

relatedquery {
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
    color: #535353;
}

relatedquery::before {
    content: "=";
    color: #ec561a;
    margin: 0px 5px 0px 15px;
}

relatedquery:hover {
    color: #ec561a;
}

didyoumeans {
    display: flex;
    flex-direction: column;
}

didyoumeans::before {
    content: "Did you mean:";
    color: rgb(103, 142, 156);
    font-size: 13px;
    margin: 15px;
}

didyoumean {
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
    color: #535353;
}

didyoumean::before {
    content: "=";
    color: #ec561a;
    margin: 0px 5px 0px 15px;
}

didyoumean:hover {
    color: #ec561a;
}

tips {
    display: flex;
    flex-direction: column;
}

tips::before {
    content: "Tips:";
    color: rgb(103, 142, 156);
    font-size: 13px;
    margin: 15px;
}

tip {
    font-size: 14px;
    margin: 5px;
    opacity: 1;
}

tip::before {
    content: attr(text);
    color: rgb(115, 184, 209);
    margin: 0px 5px 0px 15px;
}

tip:hover {
    opacity: .8;
}


@media screen and (max-width: 830px) {
    relatedqueries,
    #pod {
        width: 90%;
    }
}

@media screen and (max-width: 610px) {
    relatedqueries,
    #pod {
        width: 100%;
    }
}